<div class="card" id="<%= dom_id event %>" style="background-color: rgba(255, 255, 255, 0.85);">
  <div class="card-body">
    <h3><%= event.title %></h3>
    <p class="event-info"><strong>La date:</strong> <%= event.start_date %></p>
    <p class="event-info"><strong>Temps:</strong> <%= event.duration %></p>
    <p class="event-info"><strong>Description:</strong> <%= event.description %></p>
    <p class="event-info"><strong>Prix:</strong> <%= event.price %></p>
    <p class="event-info"><strong>Où:</strong> <%= event.location %></p>
  </div>
</div>
